table {
    table-layout: fixed;
    border: 1px solid black;
    border-collapse: collapse;
    margin: 0 auto;
}

th, td {
    border: 1px solid black;
    text-align: center;
}
.day {
    width: 13px;
    text-align: center;
    float: left;
    word-wrap: break-word;
}
.remotely {
    background-color: yellow;
}
.green {
    background-color: green;
    height: 10px;
}
.double-row {
    height: 18px;
}
.h {
    height: 40px;
}